@charset "utf-8";
.formBox{
    margin: 0.8rem auto 0.2rem;
    width: calc(100% - 0.8rem);
}
.formBox label{
    margin-top: 0.16rem;
}
.formBox .suBtn{
    margin-top: 3.2rem;
}
.formBox .btn-set{
    padding: 0.12rem 0.48rem;
}
.formBox .album{
    width: 100%;
}
.formBox .album img{
    width: 2rem;
    height: 2rem;
}
#files_upload{
    text-align: center;
    line-height: 0.8rem;
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid #000000;
}