@charset "utf-8";
.formBox{
    margin: 80px auto 20px;
    width: calc(100% - 80px);
}
.formBox label{
    margin-top: 16px;
}
.formBox .suBtn{
    margin-top: 320px;
}
.formBox .btn-set{
    padding: 12px 48px;
}
.formBox .showPlace{
    width: 100%;
}
#files_upload{
    text-align: center;
    line-height: 80px;
    font-size: 60px;
    width: 80px;
    height: 80px;
    border: 1px solid #000000;
}